<mat-toolbar color="primary">
    <span> Gourd</span>
    <span class="brand-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Writer
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        Sign In
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        Sign Up
    </button>
</mat-toolbar>
<router-outlet></router-outlet>