<div class="hotspot">
    <div fxLayout="column">
        <div class="topic">发现更多我感兴趣主题</div>
        <div class="topics">
            <div><a routerLink=""><span class="topic-item">测试</span></a></div>
            <div><a routerLink=""><span class="topic-item">运维</span></a></div>
            <div><a routerLink=""><span class="topic-item">java</span></a></div>
            <div><a routerLink=""><span class="topic-item">自然语言处理</span></a></div>
            <div><a routerLink=""><span class="topic-item">人工智障</span></a></div>
            <div><a routerLink=""><span class="topic-item">数据库</span></a></div>
        </div>
        <div><a href="#">查看更多</a></div>
    </div>
</div>