<div class="introduction">
    <div fxLayout="row">
        <div fxFlex="70">
            <h2 class="title">Medium is a place to write, read, and connect</h2>
            <p>
                It's easy and free to post your thinking on any topic and connect with millions of readers.
            </p>
            <button mat-flat-button color="accent">Basic</button>
        </div>
        <div fxFlex class="kuodo">
            <p>积跬步</p>
            <mat-divider></mat-divider>
            <h2>至千里</h2>
        </div>
    </div>
</div>