<div class="trending">
    <div fxLayout="row">
        <p>今日流行</p>
    </div>
    <div>
        <div fxLayout="row wrap" class="trending-item" fxLayoutAlign="center">
            <div class="item-content"  *ngFor="let item of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]; let i = index">
                <div fxLayout="row">
                    <div fxFlex="15">
                        <span class="item-order">{{i + 1}}</span>
                    </div>
                    <div>
                        <div class="item-author">
                            <a
                                routerLink='/account'
                                href="https://level.medium.com/?source=home---------4---------------------b1f96f62_bb18_426d_adbf_968115a33e65-------7">
                                <img alt="LEVEL" class="item-avatar" src="https://miro.medium.com/fit/c/30/30/1*-YtQ8mQJJWESY-UiP7Nc2A.png"
                                    width="20" height="20">
                            </a>
                            <div class="item-name">
                                <a routerLink="/account">zidong liu</a>
                            </div>
                        </div>
                        <div>
                            <h2 class="item-title">
                                <a [routerLink]="['/detail']" [queryParams]="{id: item}">The Threat of Donald Trump 2.0 Is Beginning to Emerge</a>
                            </h2>
                        </div>
                        <div>
                            <span>Jun 25 · 8 min read</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
