@use "/src/styles.scss";

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

footer >{
  div{
    padding: 8px 2.5px;
  }
}

@mixin _palette-styles($palette) {
  background: theming.get-color-from-palette($palette);
  color: theming.get-color-from-palette($palette, default-contrast);
}

@mixin _form-field-overrides {
  background-color: currentColor;
}

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .app-footer {
    background: theming.get-color-from-palette($background, app-bar);
    color: theming.get-color-from-palette($foreground, text);

    &.mat-primary {
      @include _palette-styles($primary);
    }

    &.mat-accent {
      @include _palette-styles($accent);
    }

    &.mat-warn {
      @include _palette-styles($warn);
    }

    @include _default-bgc-overrides;
  }
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'app-footer') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
