<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxLayout="column" fxFlex="50">
        <div gdColumn="1 / span 2">
                cgdc
        </div>
        <div gdColumn="2 / span 2">
            fcvhbjkml,;
        </div>
    </div>
    <div fxLayout="column" fxFlex="50">
        <div fxFlex="15" fxFlex.xs="55" style="background-color: aqua;">
            <div gdRow="1 / span 2">
                sssss
            </div>
            <div gdRow="1 / span 2">
                chbdcbwkdjcnk
            </div>
        </div>
        <div fxFlex="30">
            second-section
        `</div>

        <div fxFlex="55" fxFlex.xs="15" style="background-color: cyan;">
            third-section
        </div>
    </div>

</div>