<div class="news">
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="left">
            <div class="item-content" *ngFor="let item of [1, 1, 1, 1, 1, 1, 1, 1]">
                <div fxLayout="row">
                    <div fxFlex="60">
                        <div class="item-author">
                            <a routerLink='/account'
                                href="https://level.medium.com/?source=home---------4---------------------b1f96f62_bb18_426d_adbf_968115a33e65-------7">
                                <img alt="LEVEL" class="item-avatar"
                                    src="https://miro.medium.com/fit/c/30/30/1*-YtQ8mQJJWESY-UiP7Nc2A.png" width="20" height="20">
                            </a>
                            <div class="item-name">
                                <a routerLink="/account">zidong liu</a>
                            </div>
                        </div>
                        <div>
                            <h2 class="item-title">
                                <a routerLink="/document">The Threat of Donald Trump 2.0 Is Beginning to Emerge</a>
                            </h2>
                            <h2 class="item-introduction">
                                <a routerLink="/document">The Threat of Donald Trump 2.0 Is Beginning to Emerge</a>
                            </h2>
                        </div>
                        <div>
                            <span>Jun 25 · 8 min read</span>
                        </div>
                    </div>
                    <div fxFlex="40" fxFlexAlign="center" fxLayoutAlign="center">
                        <a routerLink='/account' class="item-avatar"
                            href="https://level.medium.com/?source=home---------4---------------------b1f96f62_bb18_426d_adbf_968115a33e65-------7">
                            <img alt="LEVEL"
                                src="https://miro.medium.com/fit/c/300/201/1*GlIDBz93SkiY0H9Ib7rObQ.jpeg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <app-hotspot></app-hotspot>
        </div>
    </div>
</div>